:root {
  --color-primary: #001c37;
  --color-primary-container: #d2e4ff;
  --color-secondary: #00677e;
  --color-tertiary: #ffdcc0;
  --color-on-tertiary: #8d4f00;

  --color-success: #2bb741;
  --color-error: #ba1a1a;

  --color-white: #ffffff;
  --color-black: #000000;
}
