@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap');

:root {
    --font-primary: 'Barlow';
    --font-secondary: sans-serif;

    /* set base values */
    --text-base-size: 1em;
    --text-scale-ratio: 1.25;

    /* type scale */
    --text-xs: calc(1em / (var(--text-scale-ratio) * var(--text-scale-ratio)));
    --text-sm: calc(1em / var(--text-scale-ratio));
    --text-md: calc(1em * var(--text-scale-ratio));
    --text-lg: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-xl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-xxl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-xxxl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
}

body {
    font-family: var(--font-primary), var(--font-secondary);
    font-size: var(--text-base-size);
    color: black;
}

/* text size */
.text--xxxl {
    font-size: var(--text-xxxl);
    line-height: 110%;
}

h1, .text--xxl {
    font-size: var(--text-xxl);
    line-height: 120%;
}

h2, .text--xl {
    font-size: var(--text-xl);
    line-height: 120%;
}

h3, .text--lg {
    font-size: var(--text-lg);
    line-height: 120%;
}

p, .text--md {
    font-size: var(--text-md);
    line-height: 120%;
}

.text--sm, small {
    font-size: var(--text-sm);
    line-height: 140%;
}

.text--xs {
    font-size: var(--text-xs);
}

a {
    color: var(--color-link);

    &:visited {
        color: var(--color-link-visited);
    }
}

b, strong {
    font-weight: bold;
}

.text-container {
    h2, h3, h4 {
        margin-top: var(--space-sm);
    }
    
    ul, ol, p {
        margin-bottom: var(--space-md);
    }

    ul, ol {
		list-style-position: outside;
        padding-left: 24px;
	}

	ul {
		list-style-type: disc;
	}

	ol {
		list-style-type: decimal;
    }

    ul li, ol li {
        line-height: var(--body-line-height);
    }
    
    em {
        font-style: italic;
    }

    u {
        text-decoration: underline;
    }
}

.truncate {
    // truncate text if it exceeds parent
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}